# mac
.DS_STORE

# vscode
.vscode

# venvs
.venvs
venvs

# python
.ipynb_checkpoints

# personal conventions
out.txt
out.csv
out.json
out2.json
out3.json
out4.json
temp.txt
temp.ipynb

# dbt
target/
dbt_packages/

# logs
logs
*snowsql*log*

# repos
actions
core-gh-project-testing
dbt-bigquery
dbt-core
dbt-redshift
dbt-rpc
dbt-server
dbt-snowflake
dbt-spark
dbt-starter-project
dbt-utils
docs.getdbt.com
internal-analytics
jaffle_shop
jaffle_shop_duckdb
nyc_taxi_with_python
scripts
work
gists
dotfiles
