# basics
wheel
ipython
requests
ipykernel
setuptools
virtualenv
pipx

# format
black[jupyter]

# python data
pandas
numpy
matplotlib
seaborn
lightgbm
distributed
dask[complete]
fastparquet
pyarrow
pyhive[hive]

# testing
click
