# basics
wheel
ipython
requests
ipykernel
setuptools

# format
black[jupyter]

# python data
pandas
numpy
matplotlib
seaborn
lightgbm
distributed
dask[complete]
fastparquet
pyarrow

# testing
click

# gcp
google-cloud-storage[dataproc]>=2.4.0
google-cloud-dataproc[dataproc]>=4.0.3